* {
  padding: 0;
  margin: 0;
}

header {
  grid-area: header;
}

header .navegacion {
  grid-area: navegacion;
  background: #2b2ec7;
  background: radial-gradient(circle, #2b2ec7 0%, #94bbe9 100%);
}

header .navegacion .logo {
  width: 30vh;
}

header .navegacion__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  header .navegacion__redes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .navegacion__redes img {
  margin: 0.3rem;
  width: 6vh;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5px;
}

header .navegacion__redes img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  background: #2b2ec7;
  background: radial-gradient(circle, #2b2ec7 0%, #94bbe9 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body__contenido {
  margin: 0.5%;
  /* animacion para los h */
}

.body__contenido p {
  margin: 10px;
}

.body__contenido h1, .body__contenido h2 {
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  padding: 1%;
  text-align: center;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

footer {
  background: #2b2ec7;
  background: radial-gradient(circle, #2b2ec7 0%, #94bbe9 100%);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "footerNav footerRedes ubicacion" "politicas politicas copyright";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer a {
  color: white;
  text-decoration: none;
  list-style: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h4 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  footer h4 {
    text-align: center;
  }
}

.footer__navegacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footerNav;
}

.footer__navegacion ul {
  list-style: none;
  padding: 0;
}

.footer__navegacion ul li {
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .footer__navegacion ul li {
    display: inline-block;
  }
}

.footer__redes {
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footerRedes;
}

@media screen and (max-width: 768px) {
  .footer__redes {
    margin: 3px;
  }
}

.footer__redes img {
  width: 7vh;
  padding: 5px;
  border-radius: 15px;
}

.footer__redes img:hover {
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

@media screen and (max-width: 768px) {
  .footer__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__img img {
    width: 7vh;
  }
}

.footer__ubicacion {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: ubicacion;
}

.footer__ubicacion iframe {
  width: 50vh;
  margin: 5%;
}

@media screen and (max-width: 768px) {
  .footer__ubicacion iframe {
    margin: 0 8vh;
  }
}

.footer__politicas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: politicas;
}

@media screen and (max-width: 768px) {
  .footer__politicas {
    display: inline-block;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-left: 0;
  }
}

.footer__politicas li {
  display: inline-block;
  padding: 10px;
  list-style: none;
}

.copyright {
  color: white;
  margin: 5px;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: copyright;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  .copyright {
    display: inline-block;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-left: 20px;
  }
}

.presentacion__articulo {
  border: solid 2px black;
  margin-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1.5fr;
      grid-template-columns: 1.5fr 1.5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "presentacionTitulo presentacionTitulo" "presentacionParrafo presentacionVideo";
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .presentacion__articulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.presentacion__titulo {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: presentacionTitulo;
}

.presentacion__parrafo {
  margin: 1rem;
  font-size: 1.2rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: presentacionParrafo;
}

.presentacion__video {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: presentacionVideo;
  padding: 0 0 5px 0;
  width: 90vh;
  height: 60vh;
}

.clientes {
  /* animaciones logos clientes */
}

.clientes__titulo {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .clientes__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clientes__logos img {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 768px) {
  .clientes__logos img {
    width: auto;
    height: auto;
    width: 200px;
    height: 200px;
  }
}

.noticias {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .noticias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.noticias h3 {
  text-align: center;
}

.noticias article {
  border: solid 2px black;
  margin: 1%;
  text-align: center;
}

.noticias article p {
  margin: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .presentacion__video {
    width: 90%;
  }
}

.botones__form, .botones__form--aceptar, .botones__form--reestablecer {
  width: 200px;
  background-color: transparent;
  text-align: center;
  color: transparent;
  border-radius: 10px;
  border: 1px solid;
  margin: .5rem;
}

.botones__form--aceptar {
  background-color: green;
  color: white;
}

.botones__form--reestablecer {
  background-color: red;
  color: white;
}

.equipo h1 {
  text-align: center;
}

.equipo__empleado {
      grid-template-areas: "nombre presentacion linkredes video" "foto presentacion linkredes video" "cv presentacion linkredes video";
  -ms-grid-columns: 1fr 3fr 0.5fr 3fr;
      grid-template-columns: 1fr 3fr 0.5fr 3fr;
  -ms-grid-rows: 1fr 2fr 0.5fr;
      grid-template-rows: 1fr 2fr 0.5fr;
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipo__empleado h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nombre;
  text-align: center;
}

.equipo__empleado article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: presentacion;
  margin: 10px;
  padding-left: 2rem;
}

.equipo__empleado a {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cv;
}

@media screen and (max-width: 768px) {
  .equipo__empleado a {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .equipo__empleado {
    justify-items: center;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "nombre presentacion" "foto presentacion" "linkredes presentacion" "cv presentacion" "video video";
  }
}

@media screen and (max-width: 425px) {
  .equipo__empleado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.equipo__linkredes {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: linkredes;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .equipo__linkredes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.equipo__linkredes img {
  width: 7vh;
  margin: 20px;
  border-radius: 3px;
}

.equipo__linkredes img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.equipo__fotos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto;
  max-width: 110%;
  max-height: 110%;
  margin: 2px;
  border-radius: 100px;
}

.equipo__video {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: video;
  max-width: 90%;
  max-height: 100%;
}
/*# sourceMappingURL=main.css.map */