@import "./vars";

body {
    background: $color-fondo;
    background: $gradiente-fondo;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

}  

.body__contenido {
    margin: 0.5%; 
    & p {
        margin: 10px; 
    }

    /* animacion para los h */
    & h1, & h2 {
        -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        padding: 1%;
        text-align: center;
    }
  
        @-webkit-keyframes tracking-in-expand-fwd-top {
            0% {
                letter-spacing: -0.5em;
                -webkit-transform: translateZ(-700px) translateY(-500px);
                transform: translateZ(-700px) translateY(-500px);
                opacity: 0; }
            40% {
                opacity: 0.6; }
            100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1; } 
        }
  
        @keyframes tracking-in-expand-fwd-top {
            0% {
                letter-spacing: -0.5em;
                -webkit-transform: translateZ(-700px) translateY(-500px);
                transform: translateZ(-700px) translateY(-500px);
                opacity: 0; }
            40% {
                opacity: 0.6; }
            100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1; } 
        }
}