@import "./vars";

.botones__form {
	width:200px;
	background-color:transparent;
	text-align:center;
	color:transparent;
	border-radius:10px;
	border: 1px solid;
	margin: .5rem;

    &--aceptar{
	    @extend .botones__form;
	    background-color:green;
	    color:white;
		
    }

    &--reestablecer{
	    @extend .botones__form;
	    background-color:red;
	    color: white;
		
    }
}
  
