@import "./vars";
@import "./responsive";
  
footer {
    background: $color-fondo;
    background: $gradiente-fondo;
    display: grid;
    grid-template-areas: "footerNav footerRedes ubicacion"
    "politicas politicas copyright";
    grid-template-columns: auto;
    grid-template-rows: 3fr 1fr;
    @include grid-justifyItCenter-alignItCenter;
    @include tablet{
      display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    & a {
      color: $color-texto-footer;
      text-decoration: none;
      list-style: none;
      &:hover {
        text-decoration: underline; 
      }
    }
    
    & h4 {
      color: $color-texto-footer;
      font-size: $size-h4;
      text-align: center;
      margin: 0.5rem;
      @include tablet{
        text-align: center;
      } 
    }
}
    .footer__navegacion {
      grid-area: footerNav;    
      & ul {
        list-style: none;
        padding: 0; 
        & li {
          padding: 0.5rem;
          @include tablet{
            display: inline-block; 
          }
        }
      }
    }

    .footer__redes {
      color: $color-texto-footer;
      grid-area: footerRedes;
      @include tablet{
        margin: 3px; 
      }
      & img {
        width: 7vh;
        padding: 5px;
        border-radius: 15px;
        &:hover {
          transform: skew(-10deg); 
        }
      }
    }

    .footer__img {
      @include tablet{
        display: flex;
        & img {
        width: 7vh; 
        }
      }
    }

    .footer__ubicacion {
      grid-area: ubicacion; 
      & iframe {
        width: 50vh;
        margin: 5%;
        @include tablet{
          margin: 0 8vh;
        }
      }

    }

    .footer__politicas {
      grid-area: politicas;
      @include tablet{
        display: inline-block;
        order: 5;
        padding-left: 0; 
      } 
      & li {
        display: inline-block;
        padding: 10px;
        list-style: none; 
      }  
    }

    .copyright {
      color: $color-texto-footer;
      margin: 5px;
      grid-area: copyright;
      align-self: center;
      @include tablet {
        display: inline-block;
        order: 4;
        margin-left: 20px;
      } 
    }

