@import "./vars";
@import "./responsive";

header {
    grid-area: header; 

    .navegacion {
        grid-area: navegacion; 
        background: $color-fondo;
        background: $gradiente-fondo; 
        
        &__redes {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 0 1rem;
            @include tablet{
                flex-direction: row;
            }
                
            & img {
                margin: 0.3rem;
                width: 6vh;
                transition: 1s;
                border-radius: 5px; 
                &:hover {
                    transform: scale(1.5); 
                }
            }
        }
    }
    .logo {
        width: 40vh; 
    }         
}