@import "./vars";

header {
    grid-area: header; 

    .navegacion {
        grid-area: navegacion; 
        background: color-principal;
        background: gradiente-fondo; 
        
        &__redes {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 0 1rem; 
                
            & img {
                margin: 0.3rem;
                width: 6vh;
                transition: 1s;
                   border-radius: 5px; 
                
                &:hover {
                    transform: scale(1.5); 
                }
            }
        }
    }
        .logo {
            width: 40vh; 
        }
}          

@media screen and (max-width: 768px) {
    /* header*/
    .navegacion__redes {
      flex-direction: row; }