@import "./vars";
@import "./responsive";

.presentacion{

    &__articulo {
        border: solid 2px black;
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: auto;
        grid-template-areas: "presentacionTitulo presentacionTitulo"
        "presentacionParrafo presentacionVideo";
        justify-items: center;
        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
    }

    &__titulo {
        text-align: center;
        grid-area: presentacionTitulo;
        padding: 1rem; 
    }
    
    &__parrafo {
        margin: 1rem;
        font-size: 1.2rem;
        grid-area: presentacionParrafo; 
    }

    &__beneficios{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & li{
            padding: 1rem;
            display: inline-block;
            @include tablet{
                flex-direction: column;
            }  
        }
    }
    
    &__video {
        grid-area: presentacionVideo;
        padding: 0.5rem;
        width: 100vh;
        height: 80vh;
        @include laptop{
            width: 70vh;
        }
            
        align-self: center;
    }
}

.clientes{
    & img{
       width: 40vh;
    }
    &__titulo {
        text-align: center;
        padding: 1rem;
        
    }
}
  
.noticias {
  
}
    /*
    margin-top: 10px;
    display: flex;
    @include tablet{
        flex-direction: column; 
    }
    & h3 {
    text-align: center; 
    }
    & article {
        border: solid 2px black;
        margin: 1%;
        text-align: center; 
        & p {
            margin: 0.5rem;
            font-size: 1.5rem; 
        }
    }
}*/

@media (min-width: 320px) and (max-width: 768px){
    .presentacion__video {
     width: 90%;
     
    }
}
    

