@import "./vars";
@import "./responsive";

.presentacion{

    &__articulo {
        border: solid 5px black;
        margin: 0.5rem;
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: auto;
        grid-template-areas: "presentacionTitulo presentacionTitulo"
        "presentacionParrafo presentacionVideo"
        "card presentacionVideo";
        @include grid-justifyItCenter-alignItCenter;
        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
    }

    &__titulo {
        text-align: center;
        grid-area: presentacionTitulo;
        padding: 1rem; 
    }
    
    &__parrafo {
        & p{
            margin: 1rem;
            text-align: start;
            font-size: 1.2rem;
        }
        grid-area: presentacionParrafo;
    }

    &__beneficios{
        padding: 1rem;
        & li{
            padding: 0.3rem;
            list-style: none;
            display:block;
            font-size: 1.2rem;
            @include tablet{
                flex-direction: column;
            }  
        }
    }
    
    &__video {
        grid-area: presentacionVideo;
        padding: 0.5rem;
        width: 100vh;
        height: 80vh;
        @include laptop{
            width: 70vh;
        }     
        align-self: center;
    }
}

.clientes{
    & img{
       width: 40vh;
    }
    &__titulo {
        text-align: center;
        padding: 1rem;
        
    }
}
  
@media (min-width: 320px) and (max-width: 768px){
    .presentacion__video {
     width: 90%;   
    }
}
    

