/* css de servicios.html */
.servicios h1 {
    text-align: center; }
  
  .body__contenido h3 {
    text-align: center; }

    @media screen and (max-width: 768px) {

        /* servicios */
        .servicios__servicio {
          grid-template-areas: "h3 img"
       "articulo articulo"; }
        .servicios__servicio img {
          width: 30vh; }